* {
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

$black: #000;
$white: #fff;

$light-theme: (primary-color: #9678a6,
    secondary-color: #725980,
    unique-color: #ebf2f2,
    unique-color-light: rgba(235, 242, 242, 0.5),
    border-color: #aba7b7,
    shadow-color: #ddd,
);

$dark-theme: (primary-color: #cdcaff,
    secondary-color: #2217ec,
);

@mixin theme-variables($theme) {
    --primary-color: #{map-get($theme, primary-color)};
    --secondary-color: #{map-get($theme, secondary-color)};
    --unique-color-light: #{map-get($theme, unique-color-light)};
    --unique-color: #{map-get($theme, unique-color)};
    --border-color: #{map-get($theme, border-color)};
    --shadow-color: #{map-get($theme, shadow-color)};
}

// Apply the light theme by default
:root {
    @include theme-variables($light-theme);
}
::selection{
    background-color: var(--primary-color);
    color: $white;
}

// Apply the dark theme when the body has the class "dark"
body .back.dark {
    @include theme-variables($dark-theme);
}

@mixin flex($jus: center, $ali: center) {
    display: flex;
    justify-content: $jus;
    align-items: $ali;
}


@mixin round() {
    width: fit-content;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 50%;
    padding: clamp(10px, 2vw, 15px);
}

@mixin radius() {
    border-radius: 50%;
}

@mixin border1() {
    border: solid 3px var(--secondary-color);
    @include round();
    @include flex();
}

@mixin border2() {
    border: solid 1px var(--secondary-color);
    @include round();
    @include flex();
}

@mixin border3() {
    border: solid 1px var(--border-color);
    @include round();
    @include flex();
}

@mixin psuedo() {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    @include radius();
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
}

body {
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 300;
}
section{
    overflow: hidden;
}
.panel {
    padding-top: 70px;
    padding-bottom: 70px;
}

.half-panel {
    padding-top: 50px;
    padding-bottom: 50px;
}
.half-panel-top {
    padding-top: 50px;
}
.whiteBack {
    background-color: $white;
}

h1,
.h1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}

h2,
.h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}

h3,
.h3 {
    font-weight: 700;
}
h4,
.h4 {
    font-size: 25px;
    margin-top: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.big {
    font-size: 20px;
}

.subHead {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.btn {
    background-color: var(--secondary-color);
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 30px;
    letter-spacing: 3px;
    margin: auto;
    margin-bottom: 30px;
}

.divider {
    margin: 30px 0;
    border-top: solid 1px var(--primary-color);
}

.round {
    @include round();
}

.border1 {
    @include border1();
}

.border2 {
    @include border2();
}

.border3 {
    @include border3();
    position: relative;
}

.border0 {
    @include border3();
    padding: 5px;
}

.border-1 {
    @include border3();
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.68);
    border: solid 2px var(--secondary-color);
    animation: scale 3s infinite alternate ease-in-out;
}

.borderBall {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 3s infinite alternate ease-in-out;

    &::before {
        @include psuedo();
        bottom: -10px;
    }

    &::after {
        @include psuedo();
        top: -10px;
    }
}

.greenRound {
    background-color: var(--unique-color);
    @include round();
    padding: clamp(10px, 3vw, 20px);
    animation: shadow 3s infinite alternate ease-in-out;
}

.greenRoundLight {
    @extend .greenRound;
    background-color: var(--unique-color-light);
}

// navigation
.topBar {
    border-top: solid 20px var(--primary-color);
}

.navDiv {
    @include flex(space-between);
    margin: 15px auto;
}

.mainNav {
    @include flex(space-between);
    column-gap: 30px;
    padding: 0;
    margin: 0;

    @media (max-width:991px) {
        display: none;
    }
    li {
        list-style-type: none;

        a {
            text-decoration: none;
            font-size: 18px;
            text-transform: capitalize;
            color: var(--primary-color);
            font-weight: 700;
        }
    }
}



// banner
.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.bannerCont {
    @include border1();
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    max-width: 350px;
    text-align: center;

    .headPara {
        font-size: 25px;

        @media (max-width:575px) {
            display: none;
        }
    }

    p {
        font-size: 18px;
        font-weight: 700;

        @media (max-width:575px) {
            display: none;
        }
    }
}

// our class
.roundHead {
    aspect-ratio: 1/1;
    background-color: var(--unique-color);
    @include flex(center, end);
    @include round();
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

.custCol {
    img {
        @include radius();
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 350px;
        margin: auto;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
        display: block;
    }
}

//healthy
    .icon{
        @include flex();
        @include round();
        width: 150px;
        margin: 50px auto;
        background-color: var(--unique-color);
        box-shadow: 0px -5px 5px 1px var(--shadow-color);
    }
    .headBorder{
        position: relative;
        // width: fit-content;
        margin: auto;
        span{
            background-color: $white;
            padding: 0 20px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--secondary-color);
            z-index: -1;
        }
    }

// summer
.summerDiv {
    background-image: url(../images/summer.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 100vh;
}

.offer{
    @include round();
    @include flex();
    width: clamp(150px, 15vw, 250px);
    aspect-ratio: 1/1;
    background-color: $white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    animation: shadow 3s infinite alternate ease-in-out;
    p{
        margin: 0;
    }
}
.offBig{
    font-size:50px;
}
.summerCont{
    padding: 400px 0 100px;
    color: $white;
    @media(max-width: 991px){
        padding-top: 300px;
    }
}
.verticalText {
    word-wrap: anywhere;
    width: 15px;
    margin-left: auto;
    margin-top: -50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.sidePic {
    background-image: url(../images/side.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50% 100%;

    @media (max-width: 767px) {
        background-size: 100% auto;
    }
}

.sidePicRev {
    @extend .sidePic;
    background-image: url(../images/sideRev.png);
    background-position: top right;

    .roundRow {
        flex-direction: row-reverse;
    }
    .verticalText{
        margin-left: 0;
        margin-right: auto;
    }
}
// footer
footer{
    background-image: url(../images/footer-banner.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 100px;
}
.botBar {
    border-bottom: solid 20px var(--primary-color);
}
.footerList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        padding: 5px 0;
    }
    a{
        text-decoration: none;
        color: var(--secondary-color);
    }
}

@keyframes rotate {
    to {
        transform: rotate(45deg);
    }

    from {
        transform: rotate(405deg);
    }
}

@keyframes shadow {
    to {
        box-shadow: 0 0 20px 2px var(--shadow-color);
    }

    from {
        box-shadow: 0 0 20px 10px var(--shadow-color);
    }
}

@keyframes scale {
    to {
        transform: scale(0.9);
    }

    from {
        transform: scale(1.1);
    }
}

// garbage
.outerCircle1 {
    width: 160%;
    margin-left: -30%;
    border: solid clamp(15px, 5vw, 50px) var(--secondary-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;

}

.outerCircle2 {
    border: solid clamp(15px, 5vw, 50px) var(--primary-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-left: -10%;
    margin-top: -1vw;
    width: 105%;
    position: absolute;
    top: 0;
}

.mainCont {
    height: 600px;
}

.outerImg {
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin: auto;
    height: 600px;
}